*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(./img/9729.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#output_n{
    color:red;
    border: 2px solid yellow;
    background-color: darkgray;
    width: 500px;
    line-height: 40px;
    font-size: 20px;
    height: 50px;
    margin-bottom: 20px;
}
#mytab{
    border: 2px solid pink;
}
.nav-tabs{
    border-bottom:none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: greenyellow;
    color:red ;
    font-weight: 600;
}
a{
    color: cyan;
}
.nav-tabs .nav-link{
    border:2px solid pink;
}